* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;

  display: grid;
  place-items: center;
  height: 100vh;

  font-size: 1.6rem;
  color: #34355B;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

main {
  margin-bottom: 12rem;
  background-color: #FFFF;
  padding: 4.8rem 6.4rem;
  
  text-align: center;
  
  border-radius: .6rem;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3rem;
  font-size: 2.4rem;
}

p {
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 3rem;
}

button {
  all: unset;
  cursor: pointer;
  outline: revert;
}

.screen2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen2 p {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.4rem;
  color: #000;
}

.screen2 button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: #FFFF;
  border-radius: 4px;
  background: #FF9500;

  padding: 16px;
}

button:hover {
  opacity: .8;
}

.hide {
  display: none;
}

.text {
  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

  display: flex;
  justify-content: center;
  padding: 1rem;
}