* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

body {
  background: url("./assets/mountains-home.png") lightgray 50% / cover no-repeat fixed;

  font-family: 'Roboto', sans-serif;
  color: #ffff;
}

nav {
  display: flex;
  align-items: center;
  padding: 4.2rem 7.2rem;
  gap: 5rem;
}

nav a, button {
  cursor: pointer;
}

nav a {
  font-size: 2.2rem;
  color: #ffff;
}

nav a:hover {
  font-weight: 700;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  margin: 6rem 10.2rem;
}

main h1 {
  font-size: 4.8rem;
  color: #fff;
}

main p {
  font-size: 1.8rem;
}

button {
  padding: 1.2rem 3.2rem;
  display: inline-flex;

  font-weight: 700;
  font-size: 1.4rem;
  color: #ffff;

  border-radius: .5rem;
  border: .2rem solid #FFF;
  background-color: transparent;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.6rem;

  margin-top: 14rem;
}

.home h1 {
  font-size: 4.8rem;
}

